body {
    background-color: #f5e8cb;
}

img,
video {
    max-width: 100%;
}

img:empty,
video:empty {
    min-width: 10px;
    min-height: 10px;
}

a {
    text-decoration: none;
}

.hidden {
    display: none;
}

.quote {
    background: #f2eddf;
    border: 1px solid #e6e1d3;
    margin: 0.8em;
    padding: 0.6em 0.8em;
}