body {
    background-color: #f5e8cb;
    padding: 0 1em;
}

img,
video {
    max-width: 100%;
}

img:empty,
video:empty {
    min-width: 10px;
    min-height: 10px;
}

a {
    text-decoration: none;
}

blockquote {
    background: #f2eddf;
    border: 1px solid #e6e1d3;
    margin: 0.8em;
    padding: 0.6em 0.8em;
}

.comment {
    background: #ffedc3;
    padding: 0.5em;
    border: 0.2em solid #e6c3a8;
    border-radius: 0.5em
}

.subtitle {
    color: #888;
}

.subtitle:hover {
    color: #aaa;
}

.show {
    background: #eacfbb;
    color: #423d35;
    line-height: 1.5em;
    border: none;
    border-radius: 0.25em;
    padding: 0 0.5em;
    margin: 0.1em 0.2em
}

code {
    background-color: #dfd6cb;
    border: 1px solid #ddd;
    padding: 5px;
    margin: 5px;
    font-family: 'Lucida Console', 'Courier New', Courier, monospace;
    font-size: 12px;
    color: #222;
    display: inline-block;

    max-width: 100%;
    max-height: 500px;
    overflow-x: auto;
    overflow-y: auto;
    white-space: pre-wrap;
}

.floor>.num {
    background-color: #591804;
    color: #fff8e7;
    font-size: 1.2em;
    border-radius: 0.25em;
    border-spacing: 1px;
    padding: 0.2em;
}

.floor>.author {
    font-size: 1em;
    margin: 0 1em;
}

.floor>.time {
    color: #bdb5ab;
    font-size: 0.8em;
}